In [1]:
import requests
import pandas as pd

def get_mlb_hitting_stats(season):
    url = f"https://statsapi.mlb.com/api/v1/stats?stats=season&group=hitting&season={season}&sportId=1"
    response = requests.get(url)
    data = response.json()
    
    # Extract player stats
    player_stats = data['stats'][0]['splits']
    
    # Normalize JSON data to DataFrame
    df = pd.json_normalize(player_stats, sep='_')
    
    return df

# Fetch 2022 season hitting stats
season = 2022
df = get_mlb_hitting_stats(season)

# Display the DataFrame
df.head()

,season,numTeams,rank,stat_gamesPlayed,stat_groundOuts,stat_airOuts,stat_runs,stat_doubles,stat_triples,stat_homeRuns,...,league_id,league_name,league_link,sport_id,sport_link,sport_abbreviation,position_code,position_name,position_type,position_abbreviation
0,2022,1,1,148,131,172,73,39,1,9,...,104,NL,/api/v1/league/104,1,/api/v1/sports/1,MLB,4,Second Base,Infielder,2B
1,2022,1,2,159,142,176,117,47,2,21,...,104,NL,/api/v1/league/104,1,/api/v1/sports/1,MLB,3,First Base,Infielder,1B
2,2022,1,3,151,119,127,106,41,0,35,...,104,NL,/api/v1/league/104,1,/api/v1/sports/1,MLB,3,First Base,Infielder,1B
3,2022,1,4,144,160,174,88,31,1,8,...,103,AL,/api/v1/league/103,1,/api/v1/sports/1,MLB,3,First Base,Infielder,1B
4,2022,1,5,157,111,112,133,28,0,62,...,103,AL,/api/v1/league/103,1,/api/v1/sports/1,MLB,8,Outfielder,Outfielder,CF

In [2]:
# Save the DataFrame to a CSV file
csv_file_path = 'mlb_2022_hitting_stats.csv'
df.to_csv(csv_file_path, index=False)

print(f"The data has been saved to {csv_file_path}")

The data has been saved to mlb_2022_hitting_stats.csv